@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

:root {
  --background-color: #0e0e10;
  --color-whie: #ffffff;
  --text-color: rgb(255, 255, 255);
  --color-black: #030303;
  --secondary-text-color: #ffffff;
  --font-size: 16px;
  --line-height: 26px;
  --border-style: 2.9px solid #776e62;
  --header-height: 48px;
  --panel-width: 300px;
  --panel-padding: 16px;
  --icon-size: 20px;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

html {
  font-size: calc(var(--font-size) - 1px);
  line-height: calc(var(--line-height) - 0px);
}

body {
  font-family: "Roboto Mono", monospace;
  margin: 0px;
  color: var(--text-color);
}

a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}
 
.h2bg {
  padding: 0;
  margin: 16px 0;
  font-size: calc(var(--font-size) + 7px);
  line-height: var(--line-height);
  font-weight: 700;
  color: var(--color-white);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
}

.bglink {
  padding: 0;
  margin: 16px 0;
  font-size: calc(var(--font-size));
  line-height: var(--line-height);
  font-weight: 700;
  color: var(--color-white);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
}

h3 {
  margin: 0;
  font-weight: 700;
  font-size: calc(var(--font-size) - 4px);
  line-height: var(--line-height);
  color: var(--secondary-text-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Ubuntu, "Helvetica Neue", sans-serif;
}

h1 a {
  color: var(--color-white);
}

.obglitcha {
  text-decoration: none;
}

.cbglitch {
  font-size: large;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;

  text-shadow: 0.05em 0 0 rgba(122, 12, 12, 0.75),
    -0.025em -0.05em 0 rgba(192, 35, 23, 0.75),
    0.025em 0.05em 0 rgba(190, 40, 13, 0.75);

  animation: cbglitch 500ms infinite;
  text-decoration: none;
}

.cbglitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.cbglitch span:first-child {
  animation: cbglitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  /* color: green; */
  opacity: 0.8;
}

.cbglitch span:last-child {
  animation: cbglitch 375ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  /* color: red; */
  opacity: 0.8;
}

@keyframes cbglitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(221, 19, 19, 0.75),
      -0.05em -0.025em 0 rgba(192, 14, 14, 0.75),
      -0.025em 0.05em 0 rgba(160, 16, 16, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgb(175, 12, 12),
      -0.05em -0.025em 0 rgba(194, 21, 21, 0.938),
      -0.025em 0.05em 0 rgba(185, 28, 17, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgb(207, 23, 23),
      0.025em 0.025em 0 rgb(168, 13, 13),
      -0.05em -0.05em 0 rgb(167, 9, 9);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgb(207, 51, 23),
      0.025em 0.025em 0 rgb(207, 23, 23),
      -0.05em -0.05em 0 rgb(150, 9, 9);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(230, 7, 7, 0.75),
      0.05em 0 0 rgba(163, 9, 9, 0.75), 0 -0.05em 0 rgba(163, 15, 15, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(204, 29, 29, 0.75),
      0.05em 0 0 rgba(197, 15, 15, 0.75), 0 -0.05em 0 rgba(161, 17, 17, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(214, 32, 32, 0.75),
      -0.025em -0.025em 0 rgb(150, 15, 15),
      -0.025em -0.05em 0 rgba(199, 6, 6, 0.75);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}


#header {
  display: flex;
  height: var(--header-height);
  border-bottom: var(--border-style);
  align-items: center;
  justify-content: center;
}

#header a {
  padding-left: var(--panel-padding);
  flex: 1;
  display: flex;
  align-items: center;
  color: var(--color-white);
  justify-content: center;
}

#panel {
  background-color: #0e0e10;
  position: fixed;
  z-index: 100;
  left: 0px;
  width: var(--panel-width);
  height: 100%;
  top: 0px;
  overflow: auto;
  border-right: var(--border-style);
  display: flex;
  flex-direction: column;
  transition: 0s 0s height;
}

#panel #exitSearchButton {
  width: 48px;
  height: 48px;
  display: none;
  background-color: var(--text-color);
  background-size: var(--icon-size);
  -webkit-mask-image: url(./menu_black.svg);
  -webkit-mask-position: 50% 50%;
  -webkit-mask-repeat: no-repeat;
  mask-image: url(./menu_black.svg);
  mask-position: 50% 50%;
  mask-repeat: no-repeat;
  cursor: pointer;
  margin-right: 0px;
}

#panel #expandButton {
  width: 48px;
  height: 48px;
  margin-right: 4px;
  margin-left: 4px;
  display: none;
  cursor: pointer;
  background-color: var(--text-color);
  background-size: var(--icon-size);
  -webkit-mask-image: url(./menu_black.svg);
  -webkit-mask-position: 50% 50%;
  -webkit-mask-repeat: no-repeat;
  mask-image: url(./menu_black.svg);
  mask-position: 50% 50%;
  mask-repeat: no-repeat;
}

#panel #sections {
  display: flex;
  justify-content: center;
  z-index: 1000;
  position: relative;
  height: 100%;
  align-items: center;
  font-weight: 500;
}

#panel #sections * {
  padding: 0 var(--panel-padding);
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#panel #sections .selected:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  border-bottom: 1px solid var(--text-color);
}
#panel #sections a {
  color: var(--secondary-text-color);
}

body.home #panel #sections {
  display: none;
}

#panel #inputWrapper {
  display: flex;
  align-items: center;
  height: var(--header-height);
  padding: 0 0 0 var(--panel-padding);
  position: relative;
  background: var(--background-color);
}

#panel #inputWrapper:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: var(--border-style);
  content: "";
}

#panel #filterInput {
  flex: 1;
  width: 100%;
  padding: 0 36px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  outline: none;
  border: 0px;
  background-color: var(--text-color);
  background-size: var(--icon-size);
  -webkit-mask-image: url(./menu_black.svg);
  -webkit-mask-position: 0 50%;
  -webkit-mask-repeat: no-repeat;
  mask-image: url(./menu_black.svg);
  mask-position: 0 50%;
  mask-repeat: no-repeat;
  font-family: "Roboto Mono", monospace;
}

#contentWrapper {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translate3d(0, 0, 0);
}

#panel #content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 0 var(--panel-padding) var(--panel-padding) var(--panel-padding);
}

#panel #content ul {
  list-style-type: none;
  padding: 0px;
  margin: -10px 0 20px 0;
  font-family: "Archivo Black", sans-serif;
}

#panel #content ul li {
  margin: 1px 0;
  font-family: "Archivo Black", sans-serif;
}

#panel #content h2 {
  margin-top: 0px;
}

#panel #content h2:first-child {
  margin-top: 20px !important;
  border-top: none;
  padding-top: 0;
}

#panel #content a {
  position: relative;
  color: var(--text-color);
}

#panel #content a:hover,
#panel #content a:hover .spacer,
#panel #content .selected {
  color: var(--color-white);
}

#panel #content .selected {
  text-decoration: underline;
}

#panel #content .hidden {
  display: none !important;
}

body.home #panel #content h2 {
  margin-bottom: 2px;
  padding-bottom: 0px;
  margin-top: 18px;
  border-top: none;
  padding-top: 6px;
}

.spacer {
  color: var(--secondary-text-color);
  margin-left: 2px;
  padding-right: 2px;
}

@media all and (min-width: 1700px) {
  :root {
    --panel-width: 360px;
    --font-size: 18px;
    --line-height: 28px;
    --header-height: 56px;
    --icon-size: 24px;
  }
}

@media all and (min-width: 1900px) {
  #viewerbuttons {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media all and (max-width: 1300px) {
  #viewerbuttons {
    grid-template-columns: repeat(5, 1fr);
  }

}

@media all and (max-width: 1100px) {
  #viewerbuttons {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media all and (max-width: 900px) {
  #viewerbuttons {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media all and (max-width: 700px) {
  #viewerbuttons {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1500px) {
  #viewerbuttons {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* mobile */

@media all and (max-width: 640px) {
  :root {
    --header-height: 56px;
    --icon-size: 24px;
  }

  #panel #expandButton {
    display: block;
  }
  
  #panel {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    right: 0;
    z-index: 12;
    overflow-x: hidden;
    transition: 0s 0s height;
    border: none;
    height: var(--header-height);
    transition: 0s 0.2s height;
  }
  
  #panel.open {
    height: 100%;
    transition: 0s 0s height;
  }

  #panelScrim {
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    transition: 0.2s background-color;
  }

  #panel.open #panelScrim {
    pointer-events: auto;
  }

  #contentWrapper {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--background-color);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    width: calc(100vw - 60px);
    max-width: 360px;
    z-index: 10000;
    transition: 0.25s transform;
    overflow-x: hidden;
    margin-right: -380px;
    line-height: 2rem;
  }
  #panel.open #contentWrapper {
    transform: translate3d(-380px, 0, 0);
  }
}
