pre .str,
code .str {
  color: #65b042;
} /* string  - green */
pre .kwd,
code .kwd {
  color: #e28964;
} /* keyword - dark pink */
pre .com,
code .com {
  color: #aeaeae;
  font-style: italic;
} /* comment - gray */
pre .typ,
code .typ {
  color: #89bdff;
} /* type - light blue */
pre .lit,
code .lit {
  color: #3387cc;
} /* literal - blue */
pre .pun,
code .pun {
  color: #fff;
} /* punctuation - white */
pre .pln,
code .pln {
  color: #fff;
} /* plaintext - white */
pre .tag,
code .tag {
  color: #89bdff;
} /* html/xml tag    - light blue */
pre .atn,
code .atn {
  color: #bdb76b;
} /* html/xml attribute name  - khaki */
pre .atv,
code .atv {
  color: #65b042;
} /* html/xml attribute value - green */
pre .dec,
code .dec {
  color: #3387cc;
} /* decimal - blue */

pre.prettyprint,
code.prettyprint {
  background-color: #1a1a1a;
  border-radius: 5px;
  border-color: #1a1a1a;
}

pre.prettyprint {
  width: 80%;
  margin: 20px 0px;
  padding: 1em;
  white-space: pre-wrap;
}

ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae;
} /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
}

@media print {
  pre .str,
  code .str {
    color: #060;
  }
  pre .kwd,
  code .kwd {
    color: #006;
    font-weight: bold;
  }
  pre .com,
  code .com {
    color: #600;
    font-style: italic;
  }
  pre .typ,
  code .typ {
    color: #404;
    font-weight: bold;
  }
  pre .lit,
  code .lit {
    color: #044;
  }
  pre .pun,
  code .pun {
    color: #440;
  }
  pre .pln,
  code .pln {
    color: #000;
  }
  pre .tag,
  code .tag {
    color: #006;
    font-weight: bold;
  }
  pre .atn,
  code .atn {
    color: #404;
  }
  pre .atv,
  code .atv {
    color: #060;
  }
}

.buttonh1 {
  margin: 30px 0px;
  font-size: 40px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
}

.h2source {
  font-size: 26px;
  margin: 20px 0px;
}

.f416 {
  padding-left: 15px;
}

.avis {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}

.avis:link {
  color: white;
}

.avis:visited {
  color: white;
}

.avis:hover {
  color: white;
}

.avis:active {
  color: white;
}

@media all and (max-width: 640px) {
  .f416 {
    padding-left: 10px;
    padding-top: 35px;
  }
}

.bn40div {
  display: flex;
}

.material-icons {
  display: inline-block;
  margin-top: 0.7em;
  font-size: 1.6em;
}

h3 {
  display: inline-block;
  margin-left: 6px;
  font-size: 1.9em;
  height: 10px;
  color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
  font-weight: 600;
}

#displayflex {
  display: flex;
}